{% extends 'rh_kosmos/home.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        Profile
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" style="text-align: left;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-success d-block mx-auto mt-3">
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
